body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
}

h1 {
  font-size: 40px;
  line-height: auto;
  color: #000000;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.big-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 0px;
}

.small-title {
	text-transform: uppercase;
}

.lists {
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  margin-bottom: 112px;
}

.lists-title {
  text-transform: uppercase;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*remove after work with slider and modal window*/
.display-none {
  display: none;
}
/*****************************/

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-logo {
  float: left;
  width: 139px;
  height: 56px;
  margin-top: 27px;
  margin-bottom: 53px;
}

.main-navigation {
  float: left;
  margin-left: 180px;
  min-width: 400px;
  min-height: 30px;
  margin-top: 50px;
  margin-bottom: 51px;
}


.nav-wrapper {
  width: 880px;
  min-height: 56px;
  padding-top: 24px;
  margin-bottom: 53px;
}

.desc {
  float: left;
  width: 380px;
  min-height: 200px;
  margin-right: 20px;
}

/* attention — sizes .radio-btns */
.radio-btns {
  float: left;
  min-width: 60px;
  min-height: 12px;
  margin-top: 200px;
}

.inner {
  float: right;
  width: 338px;
  height: 319px;
}

.services-item {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  min-height: 300px;
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 140px;
  font-size: 15px;
  line-height: 22px;
}

.services-item:last-child {
  margin-right: 0px;
}

.services {
  font-size: 0px;
  margin-bottom: 153px;
}



.about-us-left {
  float: left;
  width: 620px;
  min-height: 135px;
}

.about-us-right {
  position: relative;
  float: right;
  width: 187px;
  min-height: 75px;
  margin-top: 10px;
}

.about-us {
  width: 100%;
  margin-bottom: 47px;
}

.list-left {
  float: left;
  width: 460px;
  min-height: 150px;
}

.list-right {
  float: right;
  width: 232px;
  min-height: 150px;
}

.clients {
  width: 100%;
  font-size: 0px;
  margin-bottom: 35px;
}

.clients-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 133px;
  position: relative;
}

.clients-item:last-child {
  margin-right: 0px;
}


.map {
  width: 1199px;
  height: 416px;
  margin: 0 auto;
}

.under-map {
  box-sizing: border-box;
  height: 216px;
  padding: 60px 0;
}

.footer-social {
  float: left;
  width: 240px;
  height: 63px;
  margin-right: 80px;
}

.footer-promo {
  float: left;
  width: 550px;
  min-height: 63px;
}

header h1 {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.grid-and-features {
  float: left;
  width: 240px;
  min-height: 730px;
  margin-top: -20px;
}

.catalog {
  float: right;
  width: 560px;
  min-height: 970px;
  font-size: 0px;
}

.sorting {
  float: right;
  width: 560px;
  min-height: 12px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 80px;
}

.catalog-item:nth-child(even) {
  margin-right: 0px;
}

main h2 {
  text-transform: uppercase;
}

.switch-pages {
  width: 283px;
  min-height: 34px;
  margin-left: 330px;
}

.sorting a {
  display: inline-block;
  margin-left: 40px;
  color: #cccccc;
}

.main-footer {
  width: auto;
  margin-top: 118px;
}

.main-header {
  width: auto;
  background-color: #eeeeee;
  margin-bottom: 81px;
}

.content {
  position: relative;
  width: auto;
}

.cart {
  float: right;
  min-height: 30px;
  max-width: 100px;
  margin-top: 50px;
  margin-bottom: 51px;
}

.cart a{
  display: block;
  padding: 4px 4px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation a {
  display: block;
  padding: 4px 4px;
  text-decoration: none;
  color: #000000;
}

.main-navigation a:last-child {
  margin-right: 0px;
}

.cart a:hover, .main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active, .cart a:active {
  color: #8f8f8f;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  vertical-align: bottom;
  padding: 11px 40px;
  background-color: #fb565a;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.services-item p {
  margin-bottom: 17px;
}

.btn-slider {
  box-sizing: border-box;
  width: 240px;
  text-align: center;
}

.btn-green {
  background-color: #00ca74;
}

.btn-yellow {
  background-color: #efc84a;
}

.about-us::before {
  position: absolute;
  content: "";
  top: 379px;
  width: 900px;
  height: 2px;
  background-color: #eeeeee;
}

.foundation {
  float: right;
  margin-right: 54px;
  font-size: 16px;
  line-height: 9px;
  text-transform: uppercase;
  margin-top: 30px;
}

.foundation::before {
  position: absolute;
  top: 115px;
  left: -27px;
  content: "";
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
  box-shadow: 170px 0 0 0 #eeeeee;
}

.desc p {
  margin-bottom: 28px;
}

.lists ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lists li {
  position: relative;
  margin-left: 37px;
}

.lists li::before {
  position: absolute;
  top: 50%;
  left: -37px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


.overline {
  position: absolute;
  bottom: 140px;
  left: 160px;
  content: "";
  width: 900px;
  height: 2px;
  background-color: #eeeeee;
}

.underline {
  position: absolute;
  bottom: -35px;
  left: 160px;
  content: "";
  width: 900px;
  height: 2px;
  background-color: #eeeeee;
}
